{% block question %}
    <style>
        .box-master {
            border-radius: 0;
            padding: 0;
        }
    </style>

    <div style="margin-bottom: 30px;">
        <h4>Добавление оценок</h4>
        <div style="background-color: gainsboro; border-radius: 8px; padding: 10px;">
            <div class="form-group d-flex align-items-center">
                <label for="question_is_verbal_1">Система оценивания показателей</label>
                <select id="question_is_verbal_1" class="form-control select_verbal" data-id="1"
                        name="question[1]['is_verbal']">
                    <option value="1" {% if questions.0.is_verbal %} selected {% endif %}>Вербальная</option>
                    <option value="0" {% if not questions.0.is_verbal %} selected {% endif %}>Числовая</option>
                </select>
            </div>
            <div class="item" id="container_answer_1">
                {% if questions.0.is_verbal %}
                    {% for answer in questions.0.answers %}
                        <div class="box_answer" id="box_answer_{{ answer.id }}"
                             data-id="{{ answer.id }}">
                            <input type="text" class="form-control" value="{{ answer.title }}"
                                   name="question[{{ question.id }}]['answer'][{{ answer.id }}]"
                                   required placeholder="Введите текст оценки">
                            <input type="number" class="form-control" value="{{ answer.sort }}" min="0"
                                   name="question[{{ question.id }}]['sort'][{{ answer.id }}]"
                                   required placeholder="Сорт." style="width: 90px; margin-left: 5px">
                            <button class="btn btn-danger answer_delete" data-id="{{ answer.id }}"
                                    data-question="{{ question.id }}"><i class="fas fa-trash-alt"></i>
                            </button>
                            <span class="cost-answer"
                                  id="question[{{ question.id }}]['cost'][{{ answer.id }}]">{{ answer.cost }}</span>
                            <br>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for answer in questions.0.answers %}
                        {% if forloop.last %}
                            <div class="box_answer" id="box_answer_{{ answer.id }}"
                                 data-id="{{ answer.id }}">
                                <input type="number" required class="form-control input_number" max="20"
                                       style="width: 87%;"
                                       name="question[{{ questions.0.id }}]['answer'][{{ answer.id }}]"
                                       placeholder="Введите максильную оценку"
                                       value="{{ answer.title }}">
                                <span class="cost-answer"
                                      id="question[{{ questions.0.id }}]['cost'][{{ answer.id }}]">до 20</span>
                                <br>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="{% if questions.0.is_verbal %} d-flex {% endif %} mt-3"
                 style="width: 87%; {% if not questions.0.is_verbal %} display:none {% endif %}"
                 id="btn_add_answer">
                <button class="btn btn-success add_answer" data-id="1">
                    Добавить оценку
                </button>
            </div>
        </div>
    </div>

    <h4>Добавление показателей</h4>
    <div style="background-color: gainsboro;border-radius: 8px;padding: 10px;">
        {% for question in questions %}
            <div class="box-master" id="question_box_{{ question.id }}" data-id="{{ question.id }}">
                <div class="box">
                    <div class="item">
                        <div style="display: flex; width: 94%; margin-left: 5px;">
                            <input type="text" class="form-control" value="{{ question.title }}"
                                   name="question[{{ question.id }}]['title']" required
                                   placeholder="Введите текст показателя" style="margin-right: 10px;">
                            <button class="btn btn-danger delete_question" data-id="{{ question.id }}"><i
                                    class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex mt-3">
            <button class="btn btn-success" id="add_question">Добавить показатель</button>
        </div>
    </div>

{% endblock %}