{% extends 'adminer/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        body {
            background-color: #F0EBF8
        }

        .block-info {
            width: 38%;
            margin-top: 20px;
        }

        .head-form {
            height: auto;
        }
    </style>

    <div class="mx-auto block-info head-form">
        <div style="background-color: white">
            <div class="d-flex justify-content-between align-item-center">
                <div>Статус: {{ poll.status }}</div>
                <div>Ответов пользователей: {{ poll.answer_user }}</div>
            </div>
            <div class="d-flex justify-content-between align-item-center">
                {% if poll.date_created %}
                    <div>Дата создания: {{ poll.date_created|date:'Y-m-d H:i' }}</div>{% endif %}
                {% if poll.date_updated %}
                    <div>Дата обновления: {{ poll.date_updated|date:'Y-m-d H:i' }}</div>{% endif %}
            </div>
            <div class="d-flex justify-content-between align-item-center">
                {% if poll.date_start %}
                    <div>Дата начала: {{ poll.date_start|date:'Y-m-d H:i' }}</div>{% endif %}
                {% if poll.date_end %}
                    <div>Дата завершения: {{ poll.date_end|date:'Y-m-d H:i' }}</div>{% endif %}
            </div>
        </div>
    </div>

    <div style="background-color: #F0EBF8">
        <div class="d-flex">
            <div class="mx-auto">
                <div class="head-form">
                    <div class="color-line"></div>
                    <h1 style="color: black;">{{ poll.title }}</h1>
                    <p>{{ poll.description }}</p>
                </div>

                <div class="head-form">
                    <h3>Векторы средней оценки с учетом компетентности экспертов</h3>
                    <div>
                        <br>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Показатели</th>
                                <th scope="col">S1</th>
                                <th scope="col">S6</th>
                                <th scope="col">S по чебышеву</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Показатель 1</td>
                                <td>0.28</td>
                                <td>0.29</td>
                                <td>0.16</td>
                            </tr>
                            <tr>
                                <td>Показатель 2</td>
                                <td>0.28</td>
                                <td>0.29</td>
                                <td>0.16</td>
                            </tr>
                            <tr>
                                <td>Показатель 3</td>
                                <td>0.28</td>
                                <td>0.29</td>
                                <td>0.16</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div id="chart_div"></div>
                </div>

                <div class="head-form">
                    <h3>Согласованность оценок по шкале Харрингтона: средняя</h3>
                    <br>
                </div>
                <div class="head-form">
                    <h3>Согласованность оценок по шкале Пирсона: Значимые</h3>
                    <br>
                </div>
                <div class="head-form">
                    <h3>Оценки по показателю 1</h3>
                    <div id="piechart1" style="width: 100%; height: 500px;"></div>
                    <br>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.nav-item').removeClass('active');
            $('.nav-item').each(function () {
                if ($(this).attr('data-name') === "polls") $(this).addClass('active')
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".block_btn_send_form").removeClass('d-flex');
            $(".block_btn_send_form").hide();

            $('#start_poll').click(function () {
                $.ajax({
                    type: 'get',
                    url: '/admin/polls/start/' + $(this).attr('data-id') + '/',
                    success: function (response) {
                        console.log(response);
                        if (response === 'true') {
                            window.location.reload();
                        }
                    }
                });
            });
            $('#end_poll').click(function () {
                $.ajax({
                    type: 'get',
                    url: '/admin/polls/end/' + $(this).attr('data-id') + '/',
                    success: function (response) {
                        console.log(response);
                        if (response === 'true') {
                            window.location.reload();
                        }
                    }
                });
            });

            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                let data = google.visualization.arrayToDataTable([
                    ['Показатель', 'S1', 'S6', 'Sch'],
                    ['Показатель 1', .28, .29, .16],
                    ['Показатель 2', .28, .29, .16],
                    ['Показатель 3', .28, .29, .16],
                ]);

                let options = {
                    chart: {
                        title: 'Столбчатая диаграмма',
                    }
                };

                let chart = new google.charts.Bar(document.getElementById('chart_div'));
                chart.draw(data, google.charts.Bar.convertOptions(options));
            }


        });
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Ответ1', 1],
                ['Ответ2', 5],
                ['Ответ3', 2],
                ['Ответ4', 4],
            ]);

            var options = {
                title: 'Ответы по показателю 1',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

            chart.draw(data, options);
        }
    </script>

{% endblock %}