{% extends 'adminer/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <style>
        body {
            background-color: #F0EBF8
        }
        .block-info{
            width: 38%;
            margin-top: 20px;
        }
    </style>

    <div class="mx-auto block-info" id="block_btn" style="width: 34%;">
        <a href="{% url 'adminer:polls' %}" class="btn btn-secondary">Назад</a>
        {% if not poll.date_start and not poll.date_end %}
            <button class="btn btn-success" id="start_poll" data-id="{{ poll.id }}">Начать</button>
        {% elif poll.date_start and not poll.date_end %}
            <button class="btn btn-danger" id="end_poll" data-id="{{ poll.id }}">Завершить</button>
        {% endif %}
        {% if poll.date_start %}
            <button class="btn btn-warning btn_go_stat" data-url="{% url 'adminer:polls_stat' poll.id %}">Статистика</button>
        {% endif %}
    </div>
    <div class="mx-auto block-info head-form" style="display: block">
        <div style="background-color: white">
            <div class="d-flex justify-content-between align-item-center">
                <div>Статус: {{ poll.status }}</div>
                <div>Ответов пользователей: {{ count_user }}</div>
            </div>
            <div class="d-flex justify-content-between align-item-center">
                {% if poll.date_created %}<div>Дата создания: {{ poll.date_created|date:'Y-m-d H:i' }}</div>{% endif %}
                {% if poll.date_updated %}<div>Дата обновления: {{ poll.date_updated|date:'Y-m-d H:i' }}</div>{% endif %}
            </div>
            <div class="d-flex justify-content-between align-item-center">
                {% if poll.date_start %}<div>Дата начала: {{ poll.date_start|date:'Y-m-d H:i' }}</div>{% endif %}
                {% if poll.date_end %}<div>Дата завершения: {{ poll.date_end|date:'Y-m-d H:i' }}</div>{% endif %}
            </div>
        </div>
    </div>

    {% include "user/index.html" with poll=poll %}

    <script>
        $(document).ready(function () {
            $('.nav-item').removeClass('active');
            $('.nav-item').each(function () {
                if ($(this).attr('data-name') === "polls") $(this).addClass('active')
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $(".block_btn_send_form").removeClass('d-flex');
            $(".block_btn_send_form").hide();

            $('#start_poll').click(function(){
                $.ajax({
                    type: 'get',
                    url: '/admin/polls/start/'+$(this).attr('data-id')+'/',
                    success: function(response){
                        console.log(response);
                        if(response === 'true'){
                            window.location.reload();
                        }
                    }
                });
            });
            $('#end_poll').click(function(){
                $.ajax({
                    type: 'get',
                    url: '/admin/polls/end/'+$(this).attr('data-id')+'/',
                    success: function(response){
                        console.log(response);
                        if(response === 'true'){
                            window.location.reload();
                        }
                    }
                });
            });

            $('.btn_go_stat').click(function(){
               window.location.href = $(this).attr('data-url');
            });
        });
    </script>

{% endblock %}