{% extends 'adminer/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}" type="text/css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        body {
            background-color: #F0EBF8
        }

        .block-info {
            width: 38%;
            margin-top: 20px;
        }

        .head-form {
            width: 100%;
            height: auto;
        }
    </style>

    <div style="background-color: #F0EBF8">
        <div class="d-flex">
            <div class="container">
                <br>
                <button class="btn btn-secondary ripple-surface" onclick="window.location.href='{% url 'adminer:polls' %}'">Отмена</button>
                <button class="btn btn-primary" id="print_pdf">Печать PDF</button>
                <div class="head-form" style="display:block;">
                    <div class="color-line"></div>
                    <h1 style="color: black;" class="h_poll" data-id="{{ poll.id }}">{{ poll.title }}</h1>
                    <p>{{ poll.description }}</p>
                </div>
                <div class="head-form" style="display:block;">
                    <div class="d-flex justify-content-between align-item-center">
                        <div>Статус: {{ poll.status }}</div>
                        <div>Ответов пользователей: {{ count_user }}</div>
                    </div>
                    <div class="d-flex justify-content-between align-item-center">
                        {% if poll.date_created %}
                            <div>Дата создания: {{ poll.date_created|date:'Y-m-d H:i' }}</div>{% endif %}
                        {% if poll.date_updated %}
                            <div>Дата обновления: {{ poll.date_updated|date:'Y-m-d H:i' }}</div>{% endif %}
                    </div>
                    <div class="d-flex justify-content-between align-item-center">
                        {% if poll.date_start %}
                            <div>Дата начала: {{ poll.date_start|date:'Y-m-d H:i' }}</div>{% endif %}
                        {% if poll.date_end %}
                            <div>Дата завершения: {{ poll.date_end|date:'Y-m-d H:i' }}</div>{% endif %}
                    </div>
                </div>

                <div class="head-form" style="display:block;">
                    <div class="form-group">
                        <h3>Выберите категорию</h3>
                        <select class="form-select select_category">
                            <option value="0">Все категории</option>
                            {% for item in list_category %}
                                <option value="{{ item.id }}" {% if id_category == item.id %}
                                        selected="selected" {% endif %}>{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="head-form" style="display:block;">
                    <h3>Векторы средней оценки с учетом компетентности экспертов</h3>
                    <div>
                        <br>
                        <table class="table tableS">
                            <thead>
                            <tr>
                                <th scope="col">Показатели</th>
                                <th scope="col">S1</th>
                                <th scope="col">S2</th>
                                <th scope="col">S3</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <p>S1 - средняя оценка</p>
                        <p>S2 - средне-весовая оценка по всем эекспертам</p>
                        <p>S3 - средне-весовая оценка по выбранным экспертам (по Чебышеву)</p>
                    </div>
                    <br>
                    <div id="chart_div"></div>
                </div>
                <div class="head-form" style="display:block;">
                    <h3>Согласованность оценок по шкале Харрингтона: <br>
                        <span style="color: red" class="math4">{{ list_math.word }}</span>
                    </h3>
                    <br>
                </div>
                <div class="head-form" style="display:block;">
                    <h3>Согласованность оценок по шкале Пирсона: <br><span
                            style="color: red" class="math5">{{ list_math.coord }}</span></h3>
                    <br>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <div style="display: none" id="csrfmiddlewaretoken">{{ csrf_token }}</div>
    <script>
        $(document).ready(function () {

            {% comment %} let params = (new URL(document.location)).searchParams;
             $('.select_category').val(params.get("id_category"));{% endcomment %}

            $('.nav-item').removeClass('active');
            $('.nav-item').each(function () {
                if ($(this).attr('data-name') === "polls") $(this).addClass('active')
            });
        });
    </script>

    <script type="application/javascript" src="{% static 'adminer/js/stat.js' %}"></script>

{% endblock %}