{% extends 'adminer/base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static 'adminer/css/edit_pattern.css' %}">

    <div class="d-flex">
        <div class="mx-auto block-window">
            <h4>Список категорий</h4>
            <br>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{ category.id }}</th>
                        <td>{{ category.title }}</td>
                        <td style="display: inline-block; width: 110px;">
                            <a href="/admin/category/edit/{{ category.id }}" type="button" class="btn btn-primary" target="_blank">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                            <a type="button" class="btn btn-success add_category" data-id="{{ category.id }}" id="btn_add_category_{{ category.id }}"
                                {% if category.id in pattern.get_category_id %} disabled="disabled" {% endif %}>
                                <i class="fas fa-plus" style="color: white;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mx-auto" style="width: 50%">
            <br>
            <h1 class="text-center">Изменение шаблона анкеты #{{ pattern.id }}</h1>
            <br>
            <form method="post" class="mt-4" id="form_pattern_edit"
                  url="{% url 'adminer:pattern_edit' id=pattern.id %}">
                {% csrf_token %}

                <div class="form-group">
                    <input type="text" class="form-control" id="pattern_title"
                           placeholder="Название шаблона анкеты" required value="{{ pattern.title }}">
                </div>
                <br>
                <h4>Добавление категорий</h4>
                <div class="box-all-category">

                    {% if pattern.categorypattern_set.count < 1 %}
                        <p style="text-align: center">Категории еще не добавлены</p>
                    {% else %}

                        {% for category in category_pattern %}

                            <div class="box-master-category" data-id="{{ category.id }}">
                                <div class="box-category">
                                    <div class="item" style="width: 19%;">
                                        <div style="display: flex">
                                            <button class="btn btn-danger remove_category" data-id="{{ category.id }}"><i
                                                    class="fas fa-trash-alt"></i></button>

                                            <input type="text" class="form-control" value="{{ category.questions.0.title }}" name="category[{{ category.id }}]['title']" disabled>
                                        </div>
                                    </div>
                                    <div class="item" id="container_answer_{{ category.id }}">
                                        {% for answer in category.questions.0.answers %}
                                            <div class="box_answer" id="box_answer_{{ answer.id }}" data-id="{{ answer.id }}" style="width: 80%;">
                                                <input type="text" class="form-control" value="{{ answer.title }}" name="category[{{ category.id }}]['answer'][{{ answer.id }}]" disabled>
                                                <br>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}










                </div>
                <br>
                <h4>Добавление вопросов</h4>
                {% for question in questions %}

                    <div class="box-master" id="question_box_{{ question.id }}" data-id="{{ question.id }}">
                        <div class="form-group d-flex align-items-center">
                            <label for="question_is_verbal_{{ question.id }}">Система оценивания вопроса</label>
                            <select id="question_is_verbal_{{ question.id }}" class="form-control select_verbal"
                                    data-id="{{ question.id }}" name="question[{{ question.id }}]['is_verbal']">
                                <option value="1" {% if question.is_verbal %} selected {% endif %}>Вербальная</option>
                                <option value="0" {% if not question.is_verbal %} selected {% endif %}>Числовая</option>
                            </select>
                        </div>
                        <div class="box">
                            <div class="item">
                                <div style="display: flex">
                                    <button class="btn btn-danger delete_question" data-id="{{ question.id }}"><i
                                            class="fas fa-trash-alt"></i></button>
                                    <input type="text" class="form-control" value="{{ question.title }}"
                                           name="question[{{ question.id }}]['title']" required
                                           placeholder="Введите текст вопроса">
                                </div>
                            </div>
                            <div class="item" id="container_answer_{{ question.id }}">

                                {% if question.is_verbal %}
                                    {% for answer in question.answers %}
                                        <div class="box_answer" id="box_answer_{{ answer.id }}"
                                             data-id="{{ answer.id }}">
                                            <input type="text" class="form-control" value="{{ answer.title }}"
                                                   name="question[{{ question.id }}]['answer'][{{ answer.id }}]"
                                                   required placeholder="Введите текст ответа">
                                            <button class="btn btn-danger answer_delete" data-id="{{ answer.id }}"
                                                    data-question="{{ question.id }}"><i class="fas fa-trash-alt"></i>
                                            </button>
                                            <span class="cost-answer"
                                                  id="question[{{ question.id }}]['cost'][{{ answer.id }}]">{{ answer.cost }}</span>
                                            <br>
                                        </div>
                                    {% endfor %}
                                    <div class="d-flex mt-3" style="width: 87%;">
                                        <button class="btn btn-success mx-auto add_answer" data-id="{{ question.id }}">
                                            Добавить ответ
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="box_answer" id="box_answer_{{ answer.id }}"
                                         data-id="{{ answer.id }}">
                                        <input type="number" required class="form-control input_number" max="100"
                                               name="question[{{ question.id }}]['answer'][{{ answer.id }}]"
                                               placeholder="Введите максильную оценку"
                                               value="{{ question.answers.last.title }}">
                                        <br>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <br>
                <div class="d-flex mt-3">
                    <button class="btn btn-success" id="add_question">Добавить вопрос</button>
                </div>
                <br>
                <br>
                <div class="d-flex mt-3">
                    <a href="{% url 'adminer:pattern' %}" type="submit" class="btn btn-secondary"
                       style="margin-right: 5px;">Отмена</a>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
        <div class="mx-auto block-window"></div>
    </div>

    <div class="d-none" id="list_category">{{ categories_json }}</div>

    <script>
        $(document).ready(function () {
            $('.nav-item').removeClass('active');
            $('.nav-item').each(function () {
                if ($(this).attr('data-name') === "pattern") $(this).addClass('active')
            });
        });
    </script>

    <script src="{% static 'adminer/js/pattern_edit.js' %}"></script>

{% endblock %}