{% load mathfilters %}
{% load static %}
<link rel="stylesheet" href="{% static 'user/css/main.css' %}">

<div style="background-color: #F0EBF8">
    <div class="d-flex">
        <div class="mx-auto">
            <div class="head-form">
                <div class="color-line"></div>
                <h1 style="color: black;">{{ poll.title }}</h1>
                <p>{{ poll.description }}</p>
            </div>
            <form url="{% url 'user:create_user_answer' poll.id %}" method="post" id="form_answer">
                {% csrf_token %}
                {% for question in categories_question %}
                    <div class="head-form">
                        <p class="question">{{ question.title }}</p>
                        <div class="form-group">
                            <select class="form-select" data-question="{{ question.id }}">
                                {% for answer in question.answers %}
                                    <option value="{{ answer.id }}">{{ answer.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}

                {% for question in poll.questions %}
                    <div class="head-form">
                        <p class="question">{{ question.title }}</p>
                        {% if question.is_verbal %}
                            <div class="form-group">
                                <select class="form-select" data-question="{{ question.id }}">
                                    {% for answer in question.answers %}
                                        <option value="{{ answer.id }}">{{ answer.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% else %}
                            <div class="form-group">
                                Ответ: <span class="number_range"></span>
                                <input type="range" class="form-range customRange2" min="1"
                                       data-question="{{ question.id }}"
                                       max="{% with question.answers|last as last %}{{ last.title }}{% endwith %}">
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <div class="d-flex justify-content-between align-items-center block_btn_send_form">
                    <button type="submit" class="btn btn-secondary">Отправить</button>
                    <a href="" class="clear-form">Очистить форму</a>
                </div>
            </form>
            <br><br>
        </div>
    </div>
</div>
<script src="{% static 'user/js/main.js' %}"></script>