{% load mathfilters %}
{% load static %}
<link rel="stylesheet" href="{% static 'user/css/main.css' %}" type="text/css">

<style>
    body {
        padding: 0;
        margin: 0;
        background-color: #F0EBF8;
        height: 90%;
    }
</style>

<div>
    <div class="d-flex" style="margin-top: 20px;">
        <div class="mx-auto">
            <div class="head-form" style="display: block;
    margin: 0 auto;
    padding-top: 20px;">
                <div class="color-line"></div>
                <h1 style="color: black; text-align: center">Спасибо что прошли опрос!</h1>
            </div>
        </div>
    </div>
</div>